* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #13005f;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .booklist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .booklist {
    grid-template-columns: 1fr;
    align-content: center;
    margin-right: -40px;
  }
}

h1 {
  text-align: center;
  margin-top: 4rem;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}